@font-face {
    font-family: FredokaOne;
    src: url(~/assets/fonts/FredokaOne-Regular.otf);
}

:root {
    --ff-main: 'DM Sans', sans-serif;
    --ff-accent: 'FredokaOne', cursive;

    --clr-whiteborder: #eaeaea;
    --clr-whitebg: #f9fafb;
    --clr-offwhite: hsl(0, 0%, 94%);
    --clr-darkgrey: #999999;

    --clr-accent: #fcd34d;
    --clr-pink: #FDA4BA;
    --clr-blue: #3944BC;
    --clr-heartred: #b53736;
}

b {
    font-weight: 600;
}

.accented-text {
    font-family: var(--ff-accent);
}

.align-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-text-center {
    text-align: center;
}

.align-text-right {
    text-align: right;
}

.align-text-left {
    text-align: left;
}

.general_button {
    padding: unset;
    border: unset;
    background-color: unset;
    width: 100%;
    height: 100%;
    text-align: left;
}

.comment_button {
    background-color: var(--clr-pink);
    margin-right: 0.5rem;
}
.comment_button:before {
    content: url(~assets/heart.svg);
    position: relative;
    z-index: 50;
    left: -5px;
    top: 2px;
}
.lead_button {
    background-color: var(--clr-accent);
    margin-left: 0.5rem;
}
.lead_button:before {
    content: url(~assets/eye.svg);
    position: relative;
    z-index: 50;
    left: -5px;
    top: 1px;
}

.container-split-50 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100%;
}

.post_style {
    margin: 0.4rem 0 0.8rem 0;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0;
    filter: drop-shadow(0 0.5mm 0.5mm rgba(0, 0, 0, 0.2));
}

.button-hover {
    cursor: pointer;
}
.button-hover:hover {
    background-color: var(--clr-accent);
    filter: drop-shadow(0 0.5mm 0.5mm rgba(0, 0, 0, 0.4));
}

@keyframes left-slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes transition-excite {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
        margin-left: .5rem;
    }

    to {
        transform: scale(1);
    }
}